* {
  margin: 0px;
  padding: 0px;
}

.logowpp {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.main_header_titulo {
  color: rgb(77, 71, 71);
  font-size: 33px;
  justify-content: start;
}

.main_header {
  background-color: #e7dcd9;
  position: fixed;
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: 100px 950px;
  justify-content: space-around;
  align-items: center;
}

/* ul */
.main_header_nav {
  display: grid;
  grid-template-columns: 70px 70px 170px 70px 70px;
  font-size: 0;
  list-style: none;
  justify-content: end;
  gap: 0 20px;
}

#disenar {
  width: 150px;
}

.main_header_nav ul {
  display: none;
  position: absolute;
  background-color: rgb(244, 238, 242);
  width: 90px;
  padding-left: 10px;
  padding-bottom: -40px;
}

.main_header_nav ul li {
  display: block;
}

.main_header_nav li:hover ul {
  display: block;
}
.main_header_nav,
a {
  color: rgb(67, 60, 60);
  font-size: 13px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_principal {
  height: 800px;
  background-image: url(../img/fondo_main_principal.svg) ;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.main__segunda_capa_boton_link {
  font-size: 20px;
  border: 1px solid rgb(67, 60, 60);
  border-radius: 40px;
  padding: 10px 10px;
  font-weight: bold;
}
.main_principal__segunda_capa {
  padding-bottom: 80px;
}
#section_carrousel {
  margin: 80px 10px 70px 10px;
}

.carrousel {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 100px;
  padding-right: 100px;
}
.carrousel img{
  width: 130px;
  height: 180px;
}
#carrousel_destacada_0_texto {
  text-align: center;
  font-size: 15px;
}
#carrousel_destacada_1_texto {
  text-align: center;
  font-size: 15px;
}
#carrousel_destacada_2_texto {
  text-align: center;
  font-size: 15px;
}
#carrousel_destacada_3_texto {
  text-align: center;
  font-size: 15px;
}
#carrousel_destacada_4_texto {
  text-align: center;
  font-size: 15px;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(179, 160, 133, 0.372);
}
.precio {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

#accesorios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 80px 100px 80px;
  align-items: center;
}
.link {
  width: 150px;
  height: 244px;
  padding-left: 15px;

  font-weight: 100;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.link a {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 122px;
  background-color: rgba(179, 160, 133, 0.372);
}

.disena_tu_propio_accesorio {
  width: 90%;
  height: 300px;
  background-image: url(../img/fondo_disenar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin: 0 auto;
}

.disena_tu_propio_accesorio_texto {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 50px;
}
.disena_tu_propio_accesorio_texto h2 {
  padding-bottom: 10px;
  padding-top: 90px;
  font-size: 25px;
}
.disena_tu_propio_accesorio_texto p {
  font-size: 20px;
}
.disena_tu_propio_accesorio_texto h3 {
  padding-top: 50px;
}

.footer {
  background-color: rgba(179, 160, 133, 0.372);
  margin-top: 300px;
  height: 400px;
}

.footer_top {
  display: grid;
  grid-template-areas: "logo susc redes";
  grid-template-rows: 350px;
  grid-template-columns: 20% 60%;
  gap: 0px 80px;
  padding-top: 20px;
  padding-left: 90px;
}

.logo {
  grid-area: logo;
}

.suscripcion {
  grid-area: susc;
  padding-top: 20%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}

.main_principal_shop{
  height: 300px;
  background-color: white;
}

.main_principal_log{
  height: 100px;
  background-color: white;
}
