.main_principal_contacto {
    display: flex;
    margin-top: 50px;
    flex-direction: column;

    &_title {
        height: 200px;
        width: 100%;
        color: rgb(215, 183, 171);
        background-image: url(..//img/img_contacto.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        h2 {
            font-family: 'Fuzzy Bubbles', cursive;
            text-shadow: 18px 13px 7px rgb(65, 49, 43);
            font-size: 50px;
            text-align: center;
            padding-top: 60px;
        }
    }
}

.formulario_contacto {
    padding-top: 10%;
    padding-left: 20px;
    width: 100%;
    display: grid;
    grid-template-areas:
        "form"
        "info"
    ;
    grid-template-columns: 90%;
    grid-template-rows: 400px 200px;

    &_nombre {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    &_botones {
        text-align: center;
    }
}

.info_contacto {
    grid-area: info;
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    padding-right: 20px;
    text-align: center;

    h5 {
        font-size: x-small;
    }

    h4 {
        text-align: center;
        font-size: small;
    }
}

#id_formulario_contacto {
    grid-area: form;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30px 45px 45px 100px 70px;
    gap: 20px;
    font-size: xx-small;

}

.input-group-text {
    font-size: xx-small;
    padding: 5px;
}

.form-floating {
    font-size: x-small;
}

#floatingTextarea {
    padding: 5px;
    font-size: xx-small;
    height: 40px;

}

.form-control {
    padding: 5px;
    font-size: xx-small;

}

.boton_form {
    margin-right: 10px;
}



@media screen and (min-width: 780px) {
    .main_principal_contacto_title {
        height: 400px;
        padding-top: 100px;
        text-shadow: 18px 13px 7px rgb(65, 49, 43);

        h2 {
            font-size: 100px;
        }
    }

    .formulario_contacto {
        display: grid;
        grid-template-areas: "contact infor"
        ;
        grid-template-columns: 70% 30%;
        grid-template-rows: 500px;
    }

    #id_formulario_contacto {
        grid-area: contact;
        font-size: medium;
        grid-template-rows: 40px 55px 55px 150px 70px;
        gap: 30px;
        padding-left: 20px;
    }

    .input-group-text {
        font-size: small;
        padding: 15px;
    }

    .form-floating {
        font-size: medium;
    }

    #floatingTextarea {
        padding: 15px;
        font-size: small;
        height: 60px;
    }

    .form-control {
        padding: 15px;
        font-size: small;
    }

    .info_contacto {
        grid-area: infor;
        font-size: small;
    }

}