.main_principal_contacto {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.main_principal_contacto_title {
    height: 200px;
    width: 100vw;
    background-image: url(..//img/logo_color.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130px;

    h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        font-size: larger;
        text-align: center;
        padding-top: 100px;
    }
}

.formulario_contacto {
    padding-top: 10%;
    padding-left: 20px;
    width: 100%;
    display: grid;
    grid-template-areas:
        "form"
        "info"
    ;
    grid-template-columns: 90%;
    grid-template-rows: 400px 300px;
}

.info_contacto {
    grid-area: info;
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    padding-right: 20px;
    text-align: center;

    h5 {
        font-size: x-small;
    }

    h4 {
        text-align: center;
        font-size: small;
    }
}

#id_formulario_contacto {
    grid-area: form;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30px 45px 45px 100px 70px;
    gap: 20px;
    font-size: xx-small;

}

.input-group-text {
    font-size: xx-small;
    padding: 5px;
}

.form-floating {
    font-size: x-small;
}

#floatingTextarea {
    padding: 5px;
    font-size: xx-small;
    height: 40px;

}

.form-control {
    padding: 5px;
    font-size: xx-small;

}

.formulario_contacto_nombre {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

}

.formulario_contacto_botones {
    text-align: center;
}

.boton_form {
    margin-right: 10px;
}

.footer_contacto {
    background-color: rgba(179, 160, 133, 0.372);
    height: 200px;
    width: 100%;

    &_top {
        display: grid;
        grid-template-areas: "logo susc redes";
        grid-template-rows: 180px;
        grid-template-columns: 20% 60%;
        gap: 10px 50px;
    }
}

.footer_contacto_logo img {
    grid-area: logo;
    width: 150px;
    padding: 20px;

}

.suscripcion h3 {
    font-size: x-small;
}

.suscripcion h5 {
    font-size: xx-small;
}

@media screen and (min-width: 780px) {
    .main_principal_contacto_title {
        height: 400px;
        background-size: 250px;
        padding-top: 100px;

    }

    .formulario_contacto {
        display: grid;
        grid-template-areas: "contact infor"
        ;
        grid-template-columns: 70% 30%;
        grid-template-rows: 700px;
    }

    #id_formulario_contacto {
        grid-area: contact;
        font-size: medium;
        grid-template-rows: 40px 55px 55px 150px 70px;
        gap: 30px;
        padding-left: 20px;
    }

    .input-group-text {
        font-size: small;
        padding: 15px;
    }

    .form-floating {
        font-size: medium;
    }

    #floatingTextarea {
        padding: 15px;
        font-size: small;
        height: 60px;
    }

    .form-control {
        padding: 15px;
        font-size: small;
    }

    .info_contacto {
        grid-area: infor;
        font-size: small;
    }

    .info_contacto h5 {
        font-size: small;
    }

    .info_contacto h4 {
        font-size: medium;
    }

    .footer_contacto {
        background-color: rgba(179, 160, 133, 0.372);
        height: 400px;
        width: 100%;
    
        &_top {
            display: grid;
            grid-template-areas: "logo susc redes";
            grid-template-rows: 380px;
            grid-template-columns: 30% 70%;
            gap: 10px 50px;
            padding-left: 20px;
        }
    }
    
    .footer_contacto_logo img {
        grid-area: logo;
        width: 350px;
        padding: 50px;
        padding-bottom: 0%;
        padding-top: 20px;
    
    }
    
    .suscripcion h3 {
        font-size: medium;
    }
    
    .suscripcion h5 {
        font-size: medium;
    }

}